body {
	margin: 0;
	height: 100%;
	background-color: #fdfdfd;
	color: #313131;
	font-family: 'Roboto Condensed', sans-serif;
}
html {
	height: 100%;
}
header {
	height: 10%;
	width: 100%;
	text-align: center;
	display: table;
	border-bottom: 1px solid silver;
}
h1, h2, h3 {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: inherit;
}
.left {
	width: calc(25% - 1px);
	height: 100%;
	float: left;
	border-right: 1px solid silver;
}
.list {
	height: 90%;
}
.right {
	width: 75%;
	height: 100%;
	float: right;
}
.preview {
	height: 82%;
}
#messages {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.form {
	height: calc(8% - 1px);
	border-top: 1px solid silver;
	display: table;
	width: 100%;
}
.search {
	text-align: center;
}
.search input[type=text] {
	border-radius: 2px;
	border: 0;
	border-bottom: 1px solid silver;
	background-color: #efefef;
	padding: 7px 10px;
	margin: 10px 0;
	width: 70%;
}
.msg-form {
	display: table-cell;
	vertical-align: middle;
}
.msg-form input[type=text] {
	padding: 10px 15px;
	font-size: 120%;
	border: 0;
	color: #313131;
	width: 60%;
}
input[type=text]:focus, input[type=password]:focus {
	outline: 0;
}
.text-btn {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
.version {
	position: fixed;
	bottom :2px;
	left: 5px;
	font-size: 10px;
}
#people {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#people > li {
	border-top: 1px solid silver;
}
#people > li > a {
	display: block;
	padding: 12px 6px;
}
#people > li > a:hover {
	background-color: #f2f2f2;
	cursor: default;
}
#people > li:last-child {
	border-bottom: 1px solid silver;
}
.chat:hover { 
	cursor: pointer !important;
}
.active {
	background-color: #f2f2f2;
}
.details {
	display: block;
	font-size: 0.8em;
	color: gray;
	padding-left: 10px;
}
#messages > li {
	padding: 10px 15px;
}
.message {
	padding: 5px 10px;
	display: inline-block;
	border-radius: 10px;
	font-size: 0.9em;
}
.msg-own {
	background-color: green;
	color: #ffffff;
	-webkit-box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.5);
	box-shadow: -2px 2px 6px -2px rgba(0,0,0,0.5);
}
.msg-default {
	background-color: #efefef;
	-webkit-box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.5);
	color: #2d2d2d;
}
.msg-info {
	font-size: 0.72em;
	color: #555555;
}
.person {
	width: calc(90% - 11px);
	float: left;
	border-right: 1px solid silver;
	padding: 7px 5px;
}
.openChat {
	width: 10%;
	float: left;
	text-align: center;
	padding: 7px 0;
}
.openChat:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}
#people > li:after {
	content: '';
	clear: both;
	display: block;
}