<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Grzegorz Babiarz">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="../css/changelog.css">
		<title>Changelog</title>
	</head>
	<body>
		<h1 class="center">Changelog</h1>

		<h3>2019.5.1 - 18.05.2019</h3>
		<ul>
			<li>Dodano prawy panel z informacjami o aktywnym czacie</li>
			<li>Czaty mogą mieć różne kolory</li>
			<li>Konta użytkownika może zostać zablokowane</li>
			<li>Menu kontekstowe nie jest już wyświetlanie dla wcześniej usuniętych wiadomości</li>
			<li>Dodano przycisk dodawania czatu grupowego</li>
			<li>Dodano informację o nadawcy do opsiu wiadomości</li>
			<li>Dodano automatycznie przewijanie listy wiadomości do najnowszej</li>
			<li>Inne poprawki i ulepszenia</li>
		</ul>
		<h3>2019.4.1 - 13.05.2019</h3>
		<ul>
			<li>Dodano możliwość usuwania wiadomości</li>
			<li>Zmieniono styl przycisku wysyłania wiadomości</li>
		</ul>
		<h3>2019.3.1 - 11.05.2019</h3>
		<ul>
			<li>Dodano możliwość logowania za pomocą adresu email</li>
			<li>Dodano możliwość wyszukiwania osób po imieniu i nazwisku</li>
			<li>Własne konto nie jest już widoczne w wynikach wyszukiwania osób</li>
			<li>Dodano powiadomienie dźwiękowe dla utworzenia czatu oraz otrzymania wiadomości</li>
		</ul>
		<h3>2019.2.1 - 11.05.2019</h3>
		<ul>
			<li>Dodano możliwość usuwania oraz menu kontekstowe dla czatów prywatnych</li>
			<li>Brak utworzonych czatów nie powoduje już błędów w innych funkcjach komunikatora</li>
			<li>Dodano informację o braku utworzonych czatów</li>
			<li>Dodano konwersję godziny do właściwej strefy czasowej</li>
		</ul>
		<h3>2019.1.1 - 10.05.2019</h3>
		<ul>
			<li>Naprawiono nie działający przycisk wysyłania wiadomości</li>
		</ul>
		<h3>2019.1.0 - 09.05.2019</h3>
		<ul>
			<li>Początek zamkniętych testów beta</li>
		</ul>
	</body>
</html>