<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="../css/changelog.css">
		<title>Changelog</title>
	</head>
	<body>
		<h1 class="center">Changelog</h1>
		<h3>2019.2.1 - 11.05.2019</h3>
		<ul>
			<li>Dodano możliwość usuwania oraz menu kontekstowe dla czatów prywatnych</li>
			<li>Brak utworzonych czatów nie powoduje już błędów w innych funkcjach komunikatora</li>
			<li>Dodano informację o braku utworzonych czatów</li>
		</ul>
		<h3>2019.1.1 - 10.05.2019</h3>
		<ul>
			<li>Naprawiono nie działający przycisk wysyłania wiadomości</li>
		</ul>
		<h3>2019.1.0 - 09.05.2019</h3>
		<ul>
			<li>Początek zamkniętych testów beta</li>
		</ul>
	</body>
</html>