<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script>
            $(function () {
                var socket = io();
                $('#msg-send').submit(function(e) {
                    e.preventDefault();
                    if($('#msg').val()) {
                        socket.emit('msg', {message: $("#msg").val()});
                        //$(".msg-list").append("<li>"+$('#msg').val()+"</li>");
                        $("#msg").val("");
                    } else {
                        alert("Wpisz wiadomość");
                    }
                });
                socket.on('msg', function(data) {
                    $(".msg-list").append("<li>"+data.message+"</li>");
                });
            });
        </script>
    </head>
    <body>
        <ul class="msg-list"></ul>
        <form id="msg-send">
            <input type="text" placeholder="Wiadomość" id="msg">
            <input type="submit" value="Wyślij">
        </form>
        <a href="/logout"><button>Wyloguj</button></a>
    </body>
</html>